.tableConatiner {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
}

.resultsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 90%;
	margin: 0 auto;
}

table {
	width: 100%;
	text-align: left;
	border: 1px solid white;
}

tr {
	height: 40px;
}

tr:nth-child(even) {
	background-color: #282838;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04aa6d;
	color: white;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
}
